{% include partials/header.html %}
  {% assign nbr_days = site.data.seminar.days | size -%}

  <h1 class="display-5 {% if nbr_days > 1 -%} mb-2 {%- else -%} mb-4 {%- endif %}">
    {%- if page.title -%}
      {{- page.title -}}
    {%- else -%}
      {{- site.data.lang[site.conference.lang].semina.title | default: "Seminar" -}}
    {%- endif -%}
  </h1>

  {{ content }}

  {%- if nbr_days > 1 %}
    <ul class="nav justify-content-center mb-3 btn-group" id="day-list" role="tablist">
      {%- for d in site.data.seminar.days -%}
        {%- include partials/get_day_hash.html %}
        <li class="nav-item" role="presentation">
          <a class="nav-link btn btn-outline-secondary {%- if forloop.index == 1 %} active{% endif %}" id="tab-{{ day_hash }}" data-toggle="tab" {%- if d.date %} data-date="{{ d.date }}" {%- endif %} href="#{{ day_hash }}" role="tab" aria-controls="{{ day_hash }}" aria-selected="{% if forloop.index == 1 %}true{% else %}false{% endif %}">{{ day_name }}</a>
        </li>
      {%- endfor %}
    </ul>
    <div class="tab-content" id="day-content">
  {%- endif %}

  {%- for d in site.data.seminar.days -%}
    {%- if nbr_days > 1 -%}
      {%- include partials/get_day_hash.html %}
      <div class="tab-pane {%- if forloop.index == 1 %} active{% endif %}" id="{{ day_hash }}" role="tabpanel" aria-labelledby="tab-{{ day_hash }}">
    {%- endif %}
    <div class="syncscroll overflow-y-hidden " name="sync-table">
      <table class="table mx-auto d-flex justify-content-between  w-100">
        <tbody>
          <tr>

            <th scope="col" class="text-left" style= "width:245px !important;">
              Date
            </th>
            <th scope="col" class="text-left" style= "width:245px !important;">
              Presenter
            </th>
            <th scope="col" class="text-left" style= "width:auto !important;">
              Title
            </th>
        </tr>
          {%- include partials/get_day_time.html -%}

          {%- if day_end_day > day_start_day -%}
            {%- assign day_end_hour = day_end_day | minus: day_start_day | times: 24 | plus: day_end_hour -%}
          {%- endif -%}

          {%- assign day_duration_min = day_end_hour | minus: day_start_hour | times: 60 | minus: day_start_min | plus: day_end_min -%}
          {%- assign nbr_steps = day_duration_min | divided_by: site.conference.seminar.time_steps -%}

          <!--
          The shadow of a previous program block should be above a later program block, thus
          the earlier a program block the higher its z-index (opposite to the actual rendering).

          Bootstrap uses as lowest z-index for its overlapping elements a z-index of 1000 (for
          $zindex-dropdown).
          -->
          {%- assign z-index-max = 999 -%}

          {%- for i in (1..nbr_steps) -%}
            {%- assign current_day = 0 -%}
            {%- assign current_hour = i | minus: 1 | times: site.conference.seminar.time_steps | plus: day_start_min | divided_by: 60 | floor | plus: day_start_hour -%}
            {%- if current_hour >= 24 -%}
              {%- assign current_day = current_hour | divided_by: 24 | floor -%}
              {%- assign current_hour = current_hour | modulo: 24 -%}
            {%- endif -%}
            {%- assign current_min = i | minus: 1 | times: site.conference.seminar.time_steps | plus: day_start_min | modulo: 60 -%}
            {%- if current_min < 10 -%}
              {%- assign current_time = current_hour | append: ':0' | append: current_min -%}
            {%- else -%}
              {%- assign current_time = current_hour | append: ':' | append: current_min -%}
            {%- endif -%}
            

              {%- for r in d.rooms -%}
                {%- assign room = site.rooms | where: 'name', r.name | first -%}

                {%- assign active_talk = false -%}
                {%- for t in r.talks -%}
                <tr>
                  {%- assign talk = site.talks | where: 'name', t.name | first -%}

                  {%- include partials/get_talk_time.html -%}

                  {%- assign d_start_hour = current_day | minus: talk_start_day | times: 24 | plus: current_hour | minus: talk_start_hour -%}
                  {%- assign d_start_min = current_min | minus: talk_start_min -%}
                  {%- assign d_end_hour = current_day | minus: talk_end_day | times: 24 | plus: current_hour | minus: talk_end_hour -%}
                  {%- assign d_end_min = current_min | minus: talk_end_min -%}

                  {%- if d_start_hour == 0 and d_start_min == 0 -%}

                    {%- assign talk_nbr_steps = talk_duration_min | divided_by: site.conference.seminar.time_steps -%}
                    {%- include partials/get_main_category.html -%}
                   
                  <td class="font-weight-light mb-2 text-left" maxlength="10">
                    {%- include partials/show_date.html %}
                  </td>
                    <td class="font-weight-light mb-2 text-left">
                      {%- include partials/list_speakers.html %}
                    </td>
                    <td class="mb-2 text-left">
                      {%- include partials/show_talk.html %}
                    </td>
                      
                    
                    {%- assign active_talk = true %}

                  {%- endif %}
                </tr>
                {%- endfor %}

                {%- unless active_talk == true %}
  
                {%- endunless -%}

                {%- if forloop.last != true %}
                
                {%- endif -%}

              {%- endfor %}

            
          {%- endfor %}
        </tbody>
      </table>
    </div>

    {%- if nbr_days > 1 %}
      </div>
    {%- endif -%}
  {%- endfor -%}
  {%- if nbr_days > 1 %}
    </div>
  {%- endif -%}

  {%- if site.conference.talks.main_categories %}
    <h5 class="mt-4">{{ site.data.lang[site.conference.lang].seminar.legend | default: "Caption" }}</h5>
      {%- for main_cat in site.conference.talks.main_categories %}
        <div class="d-block d-sm-inline-block m-1 p-1 pl-2 pr-2 border-soft-{{ main_cat.color }} bg-soft-{{ main_cat.color }} font-weight-normal">
          {{- main_cat.name -}}
        </div>
      {%- endfor -%}
  {%- endif -%}

{% include partials/footer.html %}
