{% include partials/header.html %}

  <h1 class="display-5 mb-4">
    {%- if page.title -%}
      {{- page.title -}}
    {%- else -%}
      {{- site.data.lang[site.conference.lang].semina.title | default: "Seminar" -}}
    {%- endif -%}
  </h1>

  {{ content }}

  {%- for r in site.data.seminar.rooms -%}
    {%- assign room = site.rooms | where: 'name', r.name | first -%}
    <h2> {{ r.name }} - {{ room.theme }} </h2>

    <div class="syncscroll overflow-y-hidden " name="sync-table">
      <table class="table mx-auto d-flex justify-content-between  w-100">
        <tbody>
          <tr>
            <th scope="col" class="text-left" style= "width:245px !important;">
              Date
            </th>
            <th scope="col" class="text-left" style= "width:245px !important;">
              Presenter
            </th>
            <th scope="col" class="text-left" style= "width:auto !important;">
              Title
            </th>
          </tr>

          {%- for t in r.talks -%}
          <tr>
            {%- assign talk = site.talks | where: 'name', t.name | first -%}

            {%- include partials/get_main_category.html -%}
              
            <td class="font-weight-light mb-2 text-left" maxlength="10">
              {%- include partials/show_date.html %}
            </td>
              <td class="font-weight-light mb-2 text-left">
                {%- include partials/list_speakers.html %}
              </td>
              <td class="mb-2 text-left">
                {%- include partials/show_talk.html %}
              </td> 
          </tr>
          {%- endfor %}

          {%- if forloop.last != true %}
          
          {%- endif -%}
        </tbody>
      </table>
    </div>
  {%- endfor %}

  {%- if site.conference.talks.main_categories %}
    <h5 class="mt-4">{{ site.data.lang[site.conference.lang].seminar.legend | default: "Caption" }}</h5>
      {%- for main_cat in site.conference.talks.main_categories %}
        <div class="d-block d-sm-inline-block m-1 p-1 pl-2 pr-2 border-soft-{{ main_cat.color }} bg-soft-{{ main_cat.color }} font-weight-normal">
          {{- main_cat.name -}}
        </div>
      {%- endfor -%}
  {%- endif -%}

{% include partials/footer.html %}
